<h1><%= @department.name %></h1>
<hr />
<p>What would you like to do?</p>
<%= link_to 'View Items', department_items_path(@department) %>
<br>
<%= link_to 'Edit', edit_department_path(@department) %>
<br>
<%= link_to 'Delete', department_path(@department), method: :delete %>
<br>
<br>
<button><%= link_to 'View Departments', departments_path %></button>