<h1><%= @departmenet.name %> - <%= @item.name %></h1>
<p><%=@item.price%></p>
<%= link_to 'Edit Item', edit_department_item_path(@departmenet, @item) %>
<%= link_to 'Delete Item', department_item_path(@departmenet, @item), method: :delete %>
<%= link_to 'Back to Items', department_items_path(@departmenet) %>
